@mixin small-card($color, $font-size) {
    color: $color;
    font-family: DynaPuff;
    font-size: $font-size;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@mixin heading {
    color: var(--white-text);
    font-family: DynaPuff;
    font-size: 5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@mixin project($color) {
    color: $color;
    font-family: DynaPuff;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@mixin subtitle($color) {
    color: $color;
    font-family: DynaPuff;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@mixin text($color, $font-size) {
    color: $color;
    font-family: Manrope;
    font-size: $font-size;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@mixin header-menu-text($color) {
    color: $color;
    font-family: Manrope;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
