@import "mixin";

:root {
    --white-text: #fff;
    --yellow-text: #FAEB49;
    --grey-text: #565656;
    --black-text: #000;
    --bg-color: #202020;
    --gray-bg: #3C3C3C;
}


* {
    margin: 0;
    padding: 0;
}

a { 
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 1050px;
    margin: 0 auto;
    box-sizing: border-box;

    @media (min-width: 768px) and (max-width: 1200px) {
        margin: 0 auto;
        box-sizing: border-box;
        min-width: 768px;
        max-width: 100%;
    }

    @media (min-width: 320px) and (max-width: 768px) {
        margin: 0 auto;
        box-sizing: border-box;
        min-width: 320px;
        max-width: 100%;
    }
}
body {
    width: 1440px;

    @media (min-width: 768px) and (max-width: 1200px) {
        min-width: 768px;
        max-width: 100%;
    }

    @media (min-width: 320px) and (max-width: 768px) {
        min-width: 320px;
        max-width: 100%;
    }
}
header {
    background-color: var(--bg-color);

    @media (min-width: 768px) and (max-width: 1200px) {
        min-width: 768px;
        max-width: 100%;
    }

    @media (min-width: 320px) and (max-width: 768px) {
        min-width: 320px;
        max-width: 100%;
    }

    .header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px 0;

        .nav-menu {
        
                &__list {
                    display: flex;
                    gap: 20px;
        
                    .nav-menu__list-item {
        
                        padding: 10px 16px;
                        border-radius: 20px;
                        border: 1px solid var(--white-text);
        
        
                        .nav-menu__list-item--link {
                            display: flex;
                            gap: 12px;
                            @include header-menu-text(var(--white-text));
                            align-items: center;
                        }
                    }
        
                }
            }
    }
 
}
main {

    .heading-section {
        height: 800px;
        background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);

        .heading-title {
                width: 846px;
                height: 190px;
                padding-top: 490px;
                @include heading;
        
                @media (min-width: 768px) and (max-width: 1200px) {
        
                    padding-top: 208px;
                    width: 521px;
                    height: 393px;
        
                }

                @media (min-width: 320px) and (max-width: 768px) {
                    width: 326px;
                    height: 239px;
                    padding-top: 350px;
                    font-size: 3em;
                }

            }
    }

    .alex-section {
        background-color: var(--bg-color);
        height: 470px;
        align-content: center;
        position: relative;


        &__container {
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 540px;
            
            &-title {
                @include subtitle(var(--yellow-text));

                @media (min-width: 320px) and (max-width: 768px) {
                    font-size: 2.25em;
                    width: 342px;
                }
            }

            .alex-section__container-text {
                @include text(var(--white-text), 1em);
                width: 524px;

                @media (min-width: 320px) and (max-width: 768px) {
                    font-size: 0.9em;
                    width: 328px;
                }
            }

            .alex-list-wrap {
                display: flex;
                gap: 96px;

                @media (min-width: 320px) and (max-width: 768px) {
                    gap: 5px;
                }

                &__info {

                    .alex-list-wrap__info-item--numbers {
                        @include subtitle(var(--white-text));

                        @media (min-width: 320px) and (max-width: 768px) {
                            font-size: 2.25em;
                        }
                    }
                    .alex-list-wrap__info-item--text {
                        @include text(var(--white-text), 1em);

                        @media (min-width: 320px) and (max-width: 768px) {
                            width: 76px;
                        }
                    }
                }
            }
        }

        
    }

    .alex-section::before {
        content: "";
        width: 268px;
        height: 512px;
        background-image: url(../images/Ellipse2.png);
        background-repeat: no-repeat;
        position: absolute;
        top: 24px;
        right: 0;

        @media (min-width: 768px) and (max-width: 1200px) {
            right: -60px;
            }

        @media (min-width: 320px) and (max-width: 768px) {
            right: -150px;
        }

        }
    .alex-section::after {
        content: "";
        width: 268px;
        height: 512px;
        background-image: url(../images/Ellipse3.png);
        background-repeat: no-repeat;
        position: absolute;
        top: 24px;
        right: 0;

        @media (min-width: 768px) and (max-width: 1200px) {
                right: -60px;
            }

        @media (min-width: 320px) and (max-width: 768px) {
            right: -150px;
        }

        }

    .projects-section {
        background-color: var(--gray-bg);
        padding-top: 86px;
        padding-bottom: 86px;

        &-container {
            border-radius: 24px;
            background: #FFFEF2;

            .banking-mobile-app {
                display: flex;
                padding: 24px 20px;
                flex-direction: column;
                gap: 10px;

                &__main {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .mobile-app-img {
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        overflow: hidden;
                        border-radius: 13px;
                        

                        .mobile-app-img--layer1 {
                            object-fit: cover;
                            height: 498px;
                        
                        }
                        
                            .mobile-app-img--layer2 {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            position: absolute;
                            top: 0;
                            background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 100%);
                        }
                        .circle-arrow {
                            width: 56px;
                            height: 56px;
                            background-color: var(--white-text);
                            border-radius: 50%;
                            position: absolute;
                            top: 20px;
                            right: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .mobile-app-img--arrow {
                                    position: absolute;
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50%;
                                }
                        }
                        
                    }

                    .project-info {
                        display: flex;
                        flex-direction: column;
                        gap: 22px;
                    
                    &__title {
                        @include project(var(--grey-text));
                        }
                    
                    &__text {
                        @include header-menu-text(var(--black-text));
                        }
                    }
                }
                
            }

            
        }
        // .cards-app {
        //     display: flex;
        // }
        .three-cards {
            padding-top: 63px;
            display: flex;
            justify-content: center;

            .cards-app__list {
                display: flex;
                gap: 40px;

            @media (min-width: 768px) and (max-width: 1200px) {
                #card-three {
                    display: none;
                }
            }

            @media (min-width: 320px) and (max-width: 768px) {
                #card-three, #card-one {
                    display: none;
                }
            }

            .card-wrap {
            background-color: var(--white-text);
            width: 285px;
            border-radius: 24px;
            padding: 20px;

            @media (min-width: 768px) and (max-width: 1200px) {
                width: 293px;
            }

            @media (min-width: 320px) and (max-width: 768px) {
                width: 319px;
            }

            .card-info {
                display: flex;
                flex-direction: column;
                gap: 20px;
                
                .card-info-img {
                    display: flex;
                        flex-direction: column;
                        position: relative;
                        overflow: hidden;
                        border-radius: 13px;
                        gap: 20px;

                        .circle-arrow {
                                width: 56px;
                                height: 56px;
                                background-color: var(--white-text);
                                border-radius: 50%;
                                position: absolute;
                                top: 20px;
                                right: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                        
                                .mobile-app-img--arrow {
                                    position: absolute;
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50%;
                                }
                            }

                        &__image {
                                height: 338px;
                                object-fit: cover;

                                @media (min-width: 768px) and (max-width: 1200px) {
                                    height: 448px;
                                }
                            }
                }

                .card-info__text {
                    display: flex;
                    flex-direction: column;
                    gap: 22px;

                    .card-info__text--heading {
                        @include small-card(var(--grey-text), 1.5em);
                    }
                    .card-info__text--text {
                        @include text(var(--black-text), 1em);
                    }
                }
            }
                }
            }
        }
        
    }

    .graphics-design {
        background-color: var(--bg-color);

        .graphics-design__heading {
            @include heading;
            padding-top: 82px;

            @media (min-width: 320px) and (max-width: 768px) {
                font-size: 2.25em;
            }
        }

        .graphics-design-objects {
            display: flex;
            flex-wrap: wrap;
            gap: 26px;
            padding-top: 38px;
            padding-bottom: 138px;
            justify-content: center;

            .object-one {
                width: 1055px;
                height: 414px;
                border-radius: 40px;
                background: url(../images/paint.jpg) lightgray 0px 0 / 100% 100% no-repeat;
                position: relative;

                // .bg-ligthgrey {
                //     content: "";
                //         position: absolute;
                //         top: 0;
                //         bottom: 0;
                //         right: 0;
                //         left: 0;
                //         background-color: rgba(0, 0, 0, 0.50);
                //     }
                
                @media (min-width: 768px) and (max-width: 1200px) {
                    width: 704px;
                    height: 414px;
                }
            }
            .object-one::before {
                content: "";
                width: 268px;
                height: 268px;
                background-image: url(../images/SoftStar.png);
                background-repeat: no-repeat;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            

            .object-two {
                width: 512px;
                height: 414px;
                border-radius: 40px;
                background-image: url(../images/gazete.png);
                background-size: 100%;
                background-position: 50% 50%;
                position: relative;

                @media (min-width: 768px) and (max-width: 1200px) {
                    width: 336px;
                    height: 325px;
                    background-size: 122%;
                }
                @media (min-width: 320px) and (max-width: 768px) {
                    background-size: 160%;
                }
            }

            .object-two::before {
                content: "";
                width: 187px;
                height: 191.493px;
                background-image: url(../images/Butterfly.png);
                background-repeat: no-repeat;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .object-three {
                width: 512px;
                height: 414px;
                border-radius: 40px;
                background-image: url(../images/core.png);
                background-size: 100%;
                background-position: 50% 50%;
                position: relative;

                @media (min-width: 768px) and (max-width: 1200px) {
                        width: 336px;
                        height: 325px;
                    }

                @media (min-width: 320px) and (max-width: 768px) {
                    background-size: 160%;
                }
            }

            .object-three::before {
                content: "";
                width: 233px;
                height: 225px;
                background-image: url(../images/Asterisk1.png);
                background-repeat: no-repeat;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .quote {
        background-image: url(../images/Rectangle8.jpg);
        height: 800px;
        background-size: 100%;
        background-position: 50% 50%;
        position: relative;

        .bg-ligthgrey {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.50);
        }

        @media (min-width: 320px) and (max-width: 768px) {
            background-position: 0% 0%;
            background-size: 155%;
        }

        .quote-wrap {
            height: 800px;
            display: flex;
            align-items: center;

            .quote-text {
                @include subtitle(var(--white-text));
                text-align: center;
                position: relative;
                z-index: 2;

                @media (min-width: 320px) and (max-width: 768px) {
                    font-size: 1.5em;
                }
            }
        }
    }
}

footer {
    background-color: var(--bg-color);
    height: 530px;

    .contact-btn-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 78px;

        .contact-btn {
                width: 640px;
                padding: 42px 137px;
                border-radius: 139px;
                border: 1px solid #F2F2F2;

                @media (min-width: 768px) and (max-width: 1200px) {
                    padding: 2em 3.2em;
                }

                @media (min-width: 320px) and (max-width: 768px) {
                    width: 247px;
                    padding: 10px 20px;
                }


                .contact-btn-info {
                    width: 641px;
                    display: flex;
                    gap: 45px;

                    @media (min-width: 320px) and (max-width: 768px) {
                        gap: 20px;
                    }

                    .contact-btn-info__image {
                        width: 108px;
                        height: 108px;

                        @media (min-width: 320px) and (max-width: 768px) {
                            width: 52px;
                            height: 51px;
                        }
                    }

                    .contact-btn-title {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .contact-btn-title__heading {
                            @include subtitle(var(--white-text));

                            @media (min-width: 320px) and (max-width: 768px) {
                                font-size: 1em;
                            }
                        }

                        .contact-btn-text {
                            display: flex;
                            align-items: center;
                            gap: 24px;

                            @media (min-width: 320px) and (max-width: 768px) {
                                .arrow-right {
                                    width: 32.788px;
                                    height: 15.5px;
                                }
                            }

                            &--text {
                                @include text(var(--white-text), 1.5em);

                                @media (min-width: 320px) and (max-width: 768px) {
                                    font-size: 0.9em;
                                }
                            }
                        }
                    }
                    

                }
            }
    }

    .social-media-copyright {
        display: flex;
        flex-direction: column;
        gap: 21px;
        height: 48%;
        align-items: center;
        justify-content: end;

        .social-media {
            display: flex;
            gap: 34px;
        }

        .copyright {
            @include text(var(--white-text), 1em);
            padding-bottom: 30px;
        }
    }
}
